.main-div {
    background-color: #5aa9e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 8% 1.5% 8%;
}

a {
    cursor: pointer;
    font-weight: bold;
}

.nav-menu a{
    padding: 0 1rem 0 1rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-menu a:hover {
    color: #fddb3a;
}

.nav-menu .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translateX(35px);
    transform: translateX(35px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
